.cordel-button {  background-color: #f9d9b4;
    border: none;
    color: #4d4d4d;
    font-size: 20px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    box-shadow: 3px 3px 0px #4d4d4d;
    font-family: Arial, sans-serif;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    transition: all 0.3s ease;
  }
  
  .cordel-button:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 0px #4d4d4d;
    background-color: #f2c9a9;
  }